{% extends "base.html" %}
{% block content %}
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

		// Add the missing url to the text
		$("#url").text(window.location.pathname);

		// Fix the css locations dynamically
		$("head link").each(function() {
			for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
				$(this).attr("href", "../" + $(this).attr("href"));
		});

	})
</script>

<section id="wrapper">
	<div id="name">
		<h1>
			404
		</h1>
	</div>
	<div id="main">
		<p>
			Yo, are you lost? You must have mistyped, or you just suck at the interwebs. Hit back on your browser.
		</p>
	</div>
</section>

{% endblock %}
